<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <select id="selectSetmealPageByNameOrCategoryId" resultType="com.sky.vo.SetmealVO">
        SELECT s.*, c.name AS categoryName
        FROM setmeal s
        LEFT JOIN category c ON s.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                AND s.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                AND s.category_id = #{categoryId}
            </if>
            <if test="status != null">
                AND s.status = #{status}
            </if>
        </where>
        ORDER BY s.update_time DESC
    </select>
    <select id="selectSetmealVOById" resultType="com.sky.vo.SetmealVO">
        SELECT s.*, c.name AS categoryName
        FROM setmeal s
        LEFT JOIN category c ON s.category_id = c.id
        WHERE s.id = #{setmealId}
    </select>
    <delete id="deleteSetmealByIds">
        DELETE FROM setmeal WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
